* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: opensans;
    font-weight: normal;
    font-size: normal;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: opensans;
    font-weight: 600;
    font-size: normal;
    src: url(../fonts/OpenSans-SemiBold.ttf);
}

.container-fluid {
    width: 100%;
}

.container {
   max-width: 1160px; 
    margin: 0 auto;
}

header img {
    height: 70px;    
}

header .burgericon {
    height: 30px;
    display: none;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body {
    font-family: "opensans", Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 16px;
}

header > .container {
    padding: 20px 20px;
}

header .container .menu a {
    font-size: 0.875em;
    text-decoration: none;
    color: #4b4b4e;
    margin: 0px 20px;
}

header .container .menu a:hover {
    color: #dfa52b;
    font-weight: 600;
    padding-bottom: 7px;
    border-bottom: 3px solid #ebb217;
}
header form div {
    justify-content: center;
    padding: 10px 20px;
    border: 1px solid #ebb217;
    border-radius: 50px;
    width: 320px;
}

header form div input[type="text"]{
    border: none;
    margin-right: 10px;
}

header form div input[type="submit"]{
    background: url("../images/main/search-logo.png") no-repeat;
    background-size: cover;
    width: 22px;
    height: 22px;
    border: none;
}

header form div input[type="submit"]:hover{
    cursor: pointer;
}

header .cart {
    align-items: flex-start;
}

header .cart img {
    height: 35px;
    margin-right: 7px;
}

header .cart div p {
    font-size: 0.938em;
    color: #838388;
}
header .cart div a {
    font-size: 0.750em;
    color: #ebb217;
}