/*
>=1200
992-1199
768-991
576-768
460-576
414-460
375-414
320-375
*/

@media screen and (max-width: 1199px) {
    header form div {
        width: 243px}
}

@media screen and (max-width: 991px) {
    header > .container {
        flex-wrap: wrap;
        justify-content: center;
    }
   
        header > .container > img {
        margin-right: 40px;
    }

    header > .container form, header > .container .cart {
        margin-top: 15px;
    }

    header > .container form {
        margin-right: 20px;
    }

    header > .container form .d-flex {
        width: 350px;
    }
}

@media screen and (max-width: 768px) {
    header .container .menu a{
        margin: 0px 12px;
    }
    header .d-flex {
        justify-content:center;
    }
    header .container form .d-flex {
        width: 245px;
    }
}

@media screen and (max-width: 576px) {
    header .container .menu a{
        margin: 0px 15px;
    }
    header .container .menu {
        margin: 10px 0px;
    }
    header > .container > img {
        margin: 0px 40px 0px 40px;
    }
}

@media screen and (max-width: 460px) {
    header .container .menu a {
        margin: 0px 8px;
    }
    header .burgericon {
        display: inline-block;
        margin: 0px!important;
    }
    header > .container > img {
        margin-left: 0px;
        margin-right: 210px;
    }
    header form div input[type="text"] {
        width: 120px ;
    }

    header .container form .d-flex {
        width: 195px ;
    }

 }

 @media screen and (max-width: 414px) {
    header .container .menu a {
        display: block;
        margin: 15px;
    }
    header .container .menu {
        display: none;
    }
    header .container .menu a:hover {
        border: none;
    }
    header > .container form, header > .container .cart {
        margin-top: 15px;
    }
    header .container .menu {
        margin: 0px;
    }
    header > .container form {
        margin: 10px;
    }
    header form div input[type="text"] {
        width: 140px ;
    }
    header .container form .d-flex {
            width: 220px ;
    }
    header > .container .cart {
        margin-top: 5px;
    }
}

